

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color:#2b313b;
  text-align:center;
  overflow: hidden
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -174px;
  margin-top:-50px;
  border-style: solid;
  border-color:white;
  border-bottom-width:3px;

  background-image: linear-gradient(130deg, rgba(23,23,38,1) 47%, rgba(86,17,138,1) 100%);
  padding: 18px;
  text-align: center;
  opacity:85%;
  border-radius: 25px;
  z-index:1;
}

iframe {
    /* width: 560px;
    height: 315px;
    Im not mad, alex, im just disappointed (not the me alex, the you alex, alex) */
    object-fit: cover;
	position:relative;
	text-align:center;
	line-height: 0;
	margin-bottom: -4px !important

}

input  {
	width:220px;
	border-radius: 15px;
	text-align: center; 
	outline:none;
}

label {
	color:white;
}

.Submit {
	border-radius: 8px;
	background-color: #fff;
	padding:4px;
	border: none;
	position:relative;
	left:12%;
	outline: none;
}

.Hide {
	
	position:relative;
	border-radius: 8px;
	background-color: #ffffff;
	padding:4px;
	padding-right:15px;
	padding-left:15px;
	border: none;
	
	left:15%;
	margin-right:20px;
	outline: none;
}
.redirect {
	
	position:relative;
	border-radius: 8px;
	background-color: #ffffff;
	padding:4px;
	padding-right:10px;
	padding-left:10px;
	border: none;
	
	left:15%;
	margin-right:10px;
	outline: none;
}
.Show {
     
	border-radius: 8px;
	background-color: #ffffff;
	padding:4px;
	padding-right:15px;
	padding-left:15px;
	border: none;
	
    position:absolute;
    top:0;
    right:0;
	margin-right:20px;
	margin-top:20px;
	visibility:hidden;
 }
 
 .scrubEnd {	 
    border-radius: 8px;
	background-color: #ffffff;
	padding:4px;
	padding-right:15px;
	padding-left:15px;
	border: none;
	
	position:absolute;
    top:0;
    right:0;
	margin-right:20px;
	margin-top:55px;


 }

.Submit:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.Hide:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
.Show:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.Show2:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}